packages/workflows/definitions/daily-collection.json
{
  "name": "Daily Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build date range: collect yesterday's data (safe window for complete data)\nconst now = new Date();\nconst yesterday = new Date(now);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{ json: { startDate: fmt(yesterday), endDate: fmt(yesterday) } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Build Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vitals-production-ee31.up.railway.app/api/collect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REPLACE_WITH_N8N_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "POST /api/collect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-0001",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Failed (log)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Build Date Range", "type": "main", "index": 0 }]
      ]
    },
    "Build Date Range": {
      "main": [
        [{ "node": "POST /api/collect", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/collect": {
      "main": [
        [{ "node": "Check Success", "type": "main", "index": 0 }]
      ]
    },
    "Check Success": {
      "main": [
        [{ "node": "Success", "type": "main", "index": 0 }],
        [{ "node": "Failed (log)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
