packages/workflows/definitions/weekly-report.json
{
  "name": "Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build previous week date range (Mon–Sun)\n// Runs Monday at 08:00 UTC, so previous week = last Mon to last Sun\nconst now = new Date();\nconst endDate = new Date(now);\nendDate.setDate(endDate.getDate() - 1); // yesterday = last Sunday\n\nconst startDate = new Date(endDate);\nstartDate.setDate(startDate.getDate() - 6); // 6 days before Sunday = last Monday\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nreturn [{ json: { startDate: fmt(startDate), endDate: fmt(endDate) } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Build Week Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VITALS_API_URL }}/api/reports/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.VITALS_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "POST /api/reports/generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-0002",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Report Generated",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Failed (log)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Build Week Range", "type": "main", "index": 0 }]
      ]
    },
    "Build Week Range": {
      "main": [
        [{ "node": "POST /api/reports/generate", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/reports/generate": {
      "main": [
        [{ "node": "Check Success", "type": "main", "index": 0 }]
      ]
    },
    "Check Success": {
      "main": [
        [{ "node": "Report Generated", "type": "main", "index": 0 }],
        [{ "node": "Failed (log)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "vitals" }]
}
